/*配色紀錄
http://colorhunt.co/c/105104
http://encycolorpedia.cn/ffc97b
*/
body{
	background-image: url('../images/bg.jpg');
	background-repeat: repeat;
	overflow-x: hidden;
}
a:hover{
	color:#003684;
	text-decoration:none;
}
.row{
	margin:0;
}
.nav-tabs {
   border-bottom: none;
}
/*上方NAV*/
#login{
	padding-top:10px;
}
#login nav li a{
	padding: 10px 25px;
	color:#003684;
}
#login nav li a:hover{
	border-color: transparent;
	background: #f5deb3;
	padding-bottom:9px;/*修正當hover時會凸出來*/
}
/*點擊後維持的設定-預設是灰色*/
.dn_header:focus{
	background:#f5deb3 !important;
}
/*點擊後下方出現的menu；rgba的a是透明度*/
#login .dropdown-menu{
	padding: 1px 1px;
	background: #e7cda7;
}
#login .dropdown-menu li a{
	color: #1958b4;
}
#login .dropdown-menu li:hover{
	border-style: inset;
	border-width: 2px;
	margin-top:-2px;
	margin-bottom:-2px;
}
/*排版測試*/
#LOGO{
	height:100%;
	filter: invert(100%);
}
/*下方NAV*/
#MenuIcon{
	display:none;
}
/*header*/
#nav{
	margin-top:90px;
	display: flex;
	justify-content: space-around;
}
#nav nav li a{
	padding: 5px 45px;
	font-size:120%;
	color:##003684;
}
#nav nav li a:hover{
	background:#f5deb3;
	border-color:transparent;
	padding-bottom:4px;/*修正當hover時會凸出來*/
}
/*點擊後維持的設定-預設是灰色*/
.dn_header:focus{
	background:#f5deb3 !important;
}
/*點擊後下方出現的menu；rgba的a是透明度*/
#nav .dropdown-menu{
	padding: 1px 1px;
	background:rgba(232, 223, 197,.7);
}
#nav .dropdown-menu li a{
	color: #003684;
}
#nav .dropdown-menu li:hover{
	border-style: inset;
	border-width: 2px;
	border-color: #f7f2e6;
	margin:-2px -2px;/*矯正border凸出的margin*/
}
#map{
	width: 100%;
	padding-top: 50px;
	padding-bottom: 20px;
	padding-left: 25%;
	margin-top: 50px;
	font-size: 16px;
	background: linear-gradient(135deg, transparent 50%, rgba(135, 179, 208,.4) 0);
	animation:bgcolor1 5s ease-out;
}
@keyframes bgcolor1{
from {transform: translateX(100%);}
to {transform: translateX(0);}
}
.tree,
.tree ul {
  margin:0 0 0 1em; /* indentation */
  padding:0;
  list-style:none;
  color:#369;
  position:relative;
}

.tree ul {margin-left:.5em} /* (indentation/2) */

.tree:before,
.tree ul:before {
  content:"";
  display:block;
  width:0;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  border-left:1px solid;
}

.tree li {
  margin:0;
  padding:0 1.5em; /* indentation + .5em */
  line-height:2em; /* default list item's `line-height` */
  font-weight:bold;
  position:relative;
}

.tree li:before {
  content:"";
  display:block;
  width:10px; /* same with indentation */
  height:0;
  border-top:1px solid;
  margin-top:-1px; /* border top width */
  position:absolute;
  top:1em; /* (line-height/2) */
  left:0;
}

.tree li:last-child:before {
  background:white; /* same with body background */
  height:auto;
  top:1em; /* (line-height/2) */
  bottom:0;
}
#information{
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 10%;
	margin-top: 150px;
	font-size: 16px;
	color:#003684;
	background: linear-gradient(-45deg, transparent 40%, rgba(135, 179, 208,.4) 0);
	animation:bgcolor 5s ease-out;
}
@keyframes bgcolor{
from {transform: translateX(-100%);}
to {transform: translateX(0);}
}
#information table{
	margin-left: 50px;
}
#information td{
	font-size: 16px;
	color:#003684;
	padding-top: 10px;
	padding-bottom: 5px;
}
#link{
	margin: 100px 30px;
}
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 320px;
	height: 480px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
h1{
	margin-top: 90px !important;
	margin-bottom: 30px !important;
	padding: 2px;
	font-size: 100px;;
	font-family: 'Viner Hand ITC Regular';
}
#text_photo{
	width: 80%;
	height: auto;
}
#text_photo .col-sm-4{
	padding: 0;
}
#text_photo img{
	width: 100%;
	height: auto;
	filter: contrast(70%);
}
#text_photo img:hover{
	overflow: hidden;
	filter: contrast(100%);
	transition: filter 1.5s;
}
h3{
	margin: 0;
}
.textphoto{
	background-image: url('../images/bg.jpg');
	background-repeat: no-repeat;
	width: 100%;
	height: 30%;
	text-align: center;
}
#new_acts{
	margin-bottom: 200px;
	width: 100%;
	height: 400px;
	background-image: url('../images/textphoto2.jpg');
}
.past_acts{
	margin-left: 10%;
	width: 70%;
	height: 200px;
}
.past_acts .col-sm-3 img{
	height: 100%;

}
.bookmark{
	margin-top: 30px;
	text-align: center;
}
.q_a_title{
	width: 70%;
	background:linear-gradient(to right, transparent 0%,rgba(135, 179, 208,.5) 85%, transparent 100%);
	text-align: right;
	padding-right: 10%;
	border-radius: 20px;
	font-size: 20px;
}
.q_a_content{
	width: 100%;
	background:linear-gradient(to right, transparent, rgba(209, 236, 255,.5), transparent);
	padding-left: 5px;
	margin-left: -20%;
	font-size: 18px;
}
.product_menu ul li{
	list-style-type: none;
	list-style-image: none;
	margin-left: -15px;
}
.product_menu a{
	color:#003684;
}
.product_menu h3{
	text-align: left;
}
.product_list table{
	width: 90%;
	margin: 25px 5px;
	background: rgba(	255,255,255,.8);
	border-radius: 5px;
	box-shadow: 10px 10px 17px 0px rgba(189,186,182,0.43);
}
.product_list td{
	text-align: center;
}
#product_logo{
	margin-top: 10px;
	margin-bottom: 30px;
}
#quan{
	display: flex;
	margin-right: 0;
}
#quan input{
	width: 50%;
}
.quantity-button{
	padding: 2px;
	background: Gainsboro ;
	margin: 2px 3px;
	color: white;
}
#product_details ,#product_details table{
	margin-top: 100px;
	color: #0043a5;
}
#product_details td{
	padding-top: 20px;
	padding-bottom: 5px;
	border-bottom:1px solid Gainsboro ;
}
#add_cart_btn td{
	border-bottom: 0;
}
.big_pic{
	border-radius: 35px;
	width: 100%;
	overflow: hidden;
	box-shadow: 3px 3px 17px 5px rgba(189,186,182,0.43);
}
.little_pic{

	margin: 5% 1%;
	border-radius: 25px;
	width: 30%;
	overflow: hidden;
	box-shadow: 0px 0px 10px 2px rgba(189,186,182,0.43);
}
#decription{
	display: none;
}
#decription #content{
	padding: 35px;
	border-radius: 50px;
	box-shadow: 3px 3px 17px 5px rgba(189,186,182,0.43);
	margin-bottom: 50px;
}
.brand_list table{
	width: 90%;
	margin: 30px 5px;
	text-align: center;
}
.brand_list td{
	padding-top: 10px;
}
#brand_logo{
	 margin-top: 100px;
}
.cart{
	padding:20px 5%;
	text-align: center;
	background-color: rgba(	220,220,220,.3);
	margin-top: 50px;
	margin-bottom: 100px;
	border-radius: 10px;
	box-shadow: 3px 3px 17px 5px rgba(189,186,182,0.43);
}
.cart table{
	width: 100%;
}
.cart th{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 10px;
	border-bottom:1px solid Gainsboro ;
}
.cart td{
	padding-top: 25px;
	padding-bottom: 10px;
	border-bottom:1px solid Gainsboro ;
	background: rgba(	255,250,205,.6);
}
.cart img{
	width: 100%;
}
#enter{
	width: 100%;
	margin: 100px auto;
}
#enter a{
	padding: 10px 20px 10px 40px;
	font-size: 20px;
	letter-spacing: 15px;
	font-family: 'Viner Hand ITC Regular';
	background: rgba(189, 189, 189, .3);
	border-radius: 10px;
}
#enter a:hover{
	background: rgba(189, 189, 189, .2);
	border-bottom: 1px;
	border-color: #bdbdbd;
	border-bottom-style:solid;
}
h2{
	font-size: 50px;;
	font-family: 'Viner Hand ITC Regular';
}
#postscript{
	font-size: 15px;
}
#contact{
	width:100%;
	background: #eee2d2;
	padding:30px 0px;
	color:#003684;
	text-align:right;
	margin:150px 0;
}
#contact input, textarea {
	width:100%;
}

#contact a{
	font-weight:blod;
	padding:0px 5px;
}
form div{
	margin:10px 0;
}
#tinymce{
	display:none;
}
#footer{
	clear: both;
	height:auto;
	background: #e7cda7;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #003684;
	width: 100%;
	display: flex;
	justify-content: space-around;
}
#footer ul{
	width: 200px !important;
	padding-left: 0;
	margin-right: 50px;
}
#footer ul li{
	list-style: none;
}
#footer a{
	color: #0043a5;
}
#footer a:hover{
	color: #bdbdbd;
	text-decoration: none;
}
#footer_L{
	padding-right: 50px;
}

#footer_R{
	padding-left: 50px;
}
#copyright{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bdbdbd+0,7db9e8+100&1+0,0+99 */
background: -moz-linear-gradient(top, rgba(189,189,189,.8) 0%, rgba(126,185,232,0) 99%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(189,189,189,.8) 0%,rgba(126,185,232,0) 99%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(189,189,189,.8) 0%,rgba(126,185,232,0) 99%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bdbdbd', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
color: darkgray;
margin-bottom: 50px;
}




@media only screen and (max-width: 768px){
	/*--phone style--*/
	#login{
		background:rgba(68, 85, 143,.7);
	}
	#login nav li a{
		font-size: 120%;
		padding: 10px 7px;
	}
	#LOGO{
	}
	#MenuIcon{
		display:block;
		color: white;
		margin-left:15px;
		margin-bottom:20px;
	}
	#nav{
		display:none;
		float:right;
		margin-top:-55px;
	}
	#nav nav ul ul{
		margin:0px;
	}
	#nav nav li a{
		padding:5px 10px;
		font-weight:blod;
		font-size:150%;
	}
	#nav .dropdown-menu{
		background:#fff1c9;
	}
	h1{
		font-size: 50px;
	}
	#map, #information{
		font-size: 10px;
		background: none;
		animation:bgcolor1 2s ease-out;
	}
	#text_photo .col-sm-4{
		margin: 15px 0;
	}
	.textphoto{
		display: none;
	}
	.q_a_content{
		margin-left: 5px;
	}
	#product_details ,#product_details table{
		margin-top: 50px;
	}
	#footer_L{
		padding-right: 15px;
	}
	#footer_R{
		padding-left:15px;
		margin-top: 20px;
		margin-bottom: 15px;
	}
	#copyright{
		background: none;
		color: silver;
	}
}
