.row{
	margin:0;
}
#login{
	margin-bottom:1px;
}
#LOGO{
	height:100%;
	filter: invert(100%);
}
#nav{
	margin-top:100px;
}
#nav nav li a{
	padding: 5px 55px;
}
#footer{
	clear: both;
	height:200px;
	background: #e9c379;
}