.btn-warning{
  background: rgb(233, 195, 121) !important;
  font-size: 20px ;
  color: #FFF !important;
}
.btn-danger{
  font-size: 20px ;
  background: brown !important;
}
.navbar-brand{
  background: rgb(233, 195, 121) !important;
}
.navbar{
  background: rgb(233, 195, 121) !important;
}
.breadcrumb{
  background: rgb(255, 238, 205) !important;
}
.table_sub{
  vertical-align: middle !important;
}
